.app{
    display: flex;
    margin: 50px;
    background-color: beige;
}

.categories-con{
    margin: 30px;
    /* flex: 1; */
    background-color:green;
    width: 200px;
    
}
.items{
    flex: 2;
    display: flex;
}
.product-container{
    /* flex: 2; */
    background-color: cadetblue;
    margin: 30px;
    border: 1px red solid;
    width: 25%;


    .product{
        border: 1px black solid;
        
    }
    img{
        padding: 5px;
        width: 100%;
    }
}