.container-1{
    border: 1px red solid;
}
.main-container{
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .name{ 
        background-color: aqua;
        width: 100px;
        height: 100px;
        margin: 15px;
    }
    .date{ 
        background-color: aqua;
        width: 100px;
        height: 100px;
        margin: 15px;
    }
    
    .action{
        background-color: aqua;
        width: 100px;
        height: 100px;
        margin: 15px;
    }
    
    }