
.Nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: azure;
    height: 60px;
    

    .logo{
        display: flex;
        align-items: center;

        h1{
            color: black;
        }
    }


    .right{
    margin-left: 50px;
    }
    
}