.div{
    display: flex;
    align-items: center;
}

.left{
    display: flex;
}

.right{
    margin-left: 30px;
}
.details{
    margin-left: 50px;
}
.image{
    border: 2px red solid;
    width: 50%;
    img{
        width: 100%;
    }
}